*{
    margin: 0; padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border: none;
    text-transform: capitalize;
    transition: all .2s linear;
    font-family: "Tajawal";
}
#heading {
    position: fixed;
    display: flex;
    padding: 1rem 7%;
    align-items: center;
    z-index: 1000;
    box-shadow: var(--box-shadow);
    margin-left: 400px;
    font-family: "Fasthand";
    font-weight:lighter;
    font-size: 40px;
    color: #1a1c1e;
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif */
}

.navbar {
    background-color: pink;
    height: 5rem;
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    list-style: none;
    align-content: center;
    margin-top: 30px;
    color: #6a6c6e;
}

#home {
    /* font-weight: bold; */
}

.home {
    display: flex;
    /* flex-wrap: wrap; */
    min-height: 100vh;
    align-items: center;
    background: url(https://images.pexels.com/photos/1199956/pexels-photo-1199956.jpeg?auto=compress&cs=tinysrgb&w=600) no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}
.home .content {
    flex: 1 1 40rem;
    color: white;
}

#name {
    background-color: #6cd80e;
    color: #fff;
}

#email {
    background-color: #6cd80e;
    color: #fff;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.card {
    background: white;
    width: 270px;
    height: 500px;
    margin: 10px;
}

.card-image {
    background-color: aqua;
    height: 350px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 10px;

}

.car-1 {
    background-image: url(https://images.pexels.com/photos/2662875/pexels-photo-2662875.jpeg?auto=compress&cs=tinysrgb&w=600);
}

.car-2 {
    background-image: url(https://images.pexels.com/photos/541216/pexels-photo-541216.jpeg?auto=compress&cs=tinysrgb&w=600);
}

.car-3 {
    background-image: url(https://images.pexels.com/photos/1673876/pexels-photo-1673876.jpeg?auto=compress&cs=tinysrgb&w=600);
}

.car-4 {
    background-image: url(https://images.pexels.com/photos/5848496/pexels-photo-5848496.jpeg?auto=compress&cs=tinysrgb&w=600);
}

.car-5 {
    background-image: url(https://images.pexels.com/photos/209540/pexels-photo-209540.jpeg?auto=compress&cs=tinysrgb&w=300);
}

.car-6 {
    background-image: url(https://media.istockphoto.com/id/1204631540/photo/african-woman-showing-her-dish.jpg?b=1&s=612x612&w=0&k=20&c=CNt6qnggqQ3-jr1gWHzZlRMPMuhrV2mfvopIWcNraB0=);
}
.car-7 {
    background-image: url(https://images.pexels.com/photos/9869646/pexels-photo-9869646.jpeg?auto=compress&cs=tinysrgb&w=600);

}.car-8 {
    background-image: url(https://images.pexels.com/photos/11506216/pexels-photo-11506216.jpeg?auto=compress&cs=tinysrgb&w=600);

}.car-9 {
    background-image: url(https://images.pexels.com/photos/17325852/pexels-photo-17325852/free-photo-of-fashion-people-woman-relaxation.jpeg?auto=compress&cs=tinysrgb&w=600);
}

.stars {
    color: orangered;
}

.card-btn {
background-color: yellowgreen;
border-radius: 5px ;
color: white;
border: none;
height: 25px;
width: 80px;
margin-top: 20px;
margin-left: 10px;
}

.paragraph {
    font-size: 30px;
    /* margin-top: 10px; */
    margin-left: 200px;

}

.paragraph2 {
    margin-top: 70px;
    margin-left: 200px;
    margin-bottom: 70px;
    color: #6a6c6e;
}

#catering {
    font-size: 20px;
    font-weight: lighter;
    margin-top: 50px;
    margin-bottom: 40px;
    margin-left: 200px;
    color: #6a6c6e

}

.btn {
    border-radius: 1px;
    height: 40px;
    width: 90px;
    margin-left: 200px;
    background-color: yellowgreen;
    color: white;
}

.footer {
    /* background-color: #eaecee; */
    height: 15rem;
    background-color: pink;
}

.footer-icons {
    display: flex;
    justify-content: center;
    justify-content: space-between;

}

.quick-links {
    justify-content: space-around;
    justify-content: space-evenly;
    margin-left: 250px;
    margin-top: 70px;
}

.icons {
    margin-left: 250px;
    margin-top: 70px;
}

.footer-btn {
    border-radius: 1px;
    height: 40px;
    width: 90px;
    border: none;
    background-color: #fff;
    justify-content: space-evenly;
    justify-content: space-around;
    margin-top: 30px;
}

.f-paragraph {
    margin-top: 70px;
    margin-left: 200px;
    color: #8b8c93;
    font-size: 15px;

}

#p-quick {
    color: #8b8c93;
}
#p-follow {
    color: #8b8c93;

}