*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
#heading {
    margin-left: 500px;
    font-weight: lighter;
}

.navbar{
    margin: 30px auto;
}
#home {
    font-weight: bold;
}
.links {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.img {
    border-radius: 8px;
    /* width: 1000px; */
    /* height: 20;  */
    object-fit: contain;
    transform: scaleX(-1);
    justify-content: center;
    margin-left: 400px;
}

.paragraph {
    font-size: 30px;
    margin-top: 70px;
    /* align-items: center; */
    margin-left: 200px;
}

.imgdiv {
    justify-content: space-around;
}


.paragraph2 {
    margin-top: 70px;
    margin-left: 200px;
    margin-bottom: 70px;
}
