*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
#heading {
    margin-left: 500px;
}

.navbar{
    margin: 30px auto;
}
#home {
    font-weight: bold;
}
.links {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.img {
    border-radius: 8px;
    width: 400px;
    height: 500px;
    transform: scaleX(-1);

}